//-----------------------

//PRIMARY VARIABLES

//-----------------------

//color pallete
$color1: #e40f0a;
$color2: #858585;
$color3: #ad4d95;
$color4: #ae1a4f;
$color5: #9b247c;
$color6: #999;

$white: #FFFFFF;
$black: #000;

//fonts
$font1: 'roboto';
$font2: 'roboto regular';
// $font2: 'Open Sans', sans-serif;


//----------------------

//DEFINES GRID

//-----------------------

$max-width: 100%;
$grid-columns: 8;
$visual-grid: true;
$visual-grid-color: #eee;
// $visual-grid-index: back;
$visual-grid-opacity: 0.4;

//----------------------

//SETUP VALUES

//-----------------------

// global

$baseFont: 13px $font1;
$baseFontColor: $color2;
$baseColorBg: $white;
$baseLinkColor: $color1;


// inputs

$inputBorderColor: $color4;
$inputTxtColor: #999;
$inputColorShadow: $color3;


// titles

$sectionTitleFont: 24px $font1;
$sectionTitleColor: $color3;

$pageTitleFont: 23px $font1;
$pageTitleColor: $color2;

$pageTopColorBorder: #e5e5e5;


// buttons

$primaryBtnColorBg: $color1;
$primaryBtnColorFont: #fff;
$primaryBtnFont: 14px $font1;

$secondaryBtnColorBg: $color2;
$secondaryBtnColorFont: #fff;
$secondaryBtnFont: 14px $font1;

$buyBtnColorBg: $color5;
$buyBtnColorFont: #fff;
$buyBtnFont: 14px $font1;

// Breakpoints

$small: 503px;
$medium: 768px;
$large: 1024px;
