@import "../../assets/style/global/base.scss";

#Collaborator {
    margin-top: 148px;
    .collaboratorTitle {
        display: block;
        width: 100%;
        padding: 50px 0 30px 0;
        font-family: $font2;
        font-size: 15px;
    }
    .collaboratorContent {
        display: flex;

        .collaboratorData {
            display: block;
            background: #F5F5F5;
            border-radius: 10px;
            border: 1px solid #CCC;
            width: 30%;
            padding: 30px;
            position: relative;
            margin-right: 15px;
            .favorite {
                position: absolute;
                top: 20px;
                left: 30px;
                font-size: 0;
                display: block;
                width: 22px;
                height: 22px;
                background: url('../../assets/image/favorite1.png') no-repeat;
                background-size: 100%;
                transition: .5s;
                &:hover {
                    background: url('../../assets/image/favorite-select.png') no-repeat;
                    background-size: 100%;
                }
            }
    
            .evaluation {
                position: absolute;
                top: 20px;
                right: 30px;
                font-family: $font2;
                font-size: 12px;
                font-weight: bold;
            }
            .collaboratorPicture {
                display: flex;
                justify-content: center;
                .image {
                    display: block;
                    width: 110px;
                    height: 110px;
                    background: #ccc;
                    border-radius: 110px;
                }
            }
            .collaboratorBaseInfo {
                padding-top: 30px;
                h2 {
                    display: flex;
                    width: 100%;
                    font-family: $font2;
                    justify-content: space-between;
                    span {
                        &.price {
                            color: #5AABB5;
                            font-weight: 600;
                        }
                    }
                }
                p {
                    padding: 10px 0 20px 0;
                    font-family: $font2;
                    font-size: 11px;
                    color: #555555;
                }
            }
            .collaboratorDecription {
                p {
                    font-family: $font2;
                    font-size: 12px;
                    color: #555555;
                    word-spacing: 1px;
                    padding-bottom: 20px;
                    line-height: 20px;
                }
            }
            .collaborationContact {
                p {
                    font-family: $font2;
                    font-size: 12px;
                    color: #555555;
                    padding-bottom: 5px;
                    span {
                        color: #5AABB5;
                        font-weight: 600;
                        font-size: 12px;
                    }
                }
            }

            button {
                margin-top: 20px;
                width: 100%;
                background: #5AABB5;
                text-align: center;
                border-radius: 10px;
                color: #fff;
                padding: 10px;
                font-size: 12px;
                transition: 0.2s;
                border: none;
                cursor: pointer;
                &:hover {
                    background: #42909a;
                }
            }
        }
        .collaboratorExtraInfo {
            display: block;
            width: 70%;
        }
    }

    .collaboratorSecondaryContent {
        .collaboratorSecondaryDescriptiom {
            .optionsTab {
                padding: 65px 0 45px 0;
                ul {
                    display: flex;
                    li {
                        color: #a9a9a9;
                        font-family: $font2;
                        font-size: 15px;
                        display: block;
                        padding-right: 40px;
                        transition: .3s;
                        cursor: pointer;
                        &::after {
                            content: "";
                            display: block;
                            width: 40px;
                            height: 4px;
                            border-radius: 10px;
                            margin: 5px auto 0;
                        }
                        &.active {
                            color: #363636;
                            &::after {
                                transition: .3s;
                                background-color: #5AABB5;
                            }
                        }
                    }
                }
            }
            .optionsText {
                .optionsItem {
                    display: none;
                    &.active {
                        display: block;
                    }
                    p {
                        font-family: $font2;
                        transition: .3s;
                        color: #555555;
                        font-size: 12px;
                        line-height: 25px;
                        padding-bottom: 20px;
                    }
                }
            }
        }
    }

    .commetsContent {
        .commetsTitle {
            h4 {
                font-family: $font2;
                color: #363636;
                font-size: 15px;
                padding: 40px 0;
            }
        }
        .usersComments {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
}