@import "../../assets/style/global/base.scss";

#home {
    background-image: url('../../assets/image/background.png');
    background-repeat: no-repeat;
    // background-position: center -15px;
    background-size: 100% auto;
    margin-top: 118px;
    @media only screen and (max-width: $large) { 
        margin-top: 79px;
        background-image: none;
    }

    @media only screen and (max-width: $small) { 
        margin-top: 39px;
    }
    #search {
        display: flex;
        justify-content: center;
        flex-direction: column; 
        flex-wrap: wrap; 
        align-content: center;
        padding: 120px 0;
        @media only screen and (max-width: $small) { 
            padding-bottom: 50px;
        }
        .titleSearch {
            text-align: center;
            @media only screen and (max-width: $small) { 
                padding: 0 20px;
                line-height: 20px;
            }
            h2 {
                font-size: 36px;
                padding-bottom: 5px;
                @media only screen and (max-width: $small) { 
                    font-size: 26px;
                    margin-bottom: 10px;
                    line-height: 30px;
                }
            }
            h3 {
                font-size: 13px;
                color: #3E3E3E;
                padding-bottom: 30px;
                @media only screen and (max-width: $small) { 
                    font-size: 12px;
                }
            }
        }

        .inputSearch {
            position: relative;
            @media only screen and (max-width: $medium) { 
                display: flex;
                justify-content: center;
            }
            @media only screen and (max-width: $small) { 
                display: flex;
                justify-content: center;
                flex-direction: column;
                padding: 0 20px;
            }
            &::after {
                content: "";
                display: block;
                position: absolute;
                left: 11px;
                top: 10px;
                width: 22px;
                height: 22px;
                background-image: url('../../assets/image/search.png');
                background-repeat: no-repeat;
                background-size: 100%;
                @media only screen and (max-width: $medium) { 
                    display: none;
                }
            }
            input {
                width: 326px;
                border-radius: 10px;
                background: #F2F2F2;
                border: 1px solid #D1D1D1;
                padding: 13px 0 13px 35px;
                font-size: 12px;
                color: #717171;
                margin-right: 10px;
                font-family: $font2;
                @media only screen and (max-width: $small) { 
                    width: 100%;
                    margin-bottom: 20px;
                }
            }
            button {    
                width: 97px;
                height: 40px;
                background: #5AABB5;
                text-align: center;
                border-radius: 10px;
                color: #fff;
                padding: 3px;
                font-family: $font2;
                font-size: 12px;
                border: none;
                cursor: pointer;
                transition: .2s;
                @media only screen and (max-width: $small) { 
                    width: 100%;
                }
                &:hover {
                    background-color: #69b4bd;
                }
            }
        }

        .preSelectSearch {
            margin-top: 20px;
            @media only screen and (max-width: $medium) { 
                padding: 0 20px;
            }
            ul {
                display: flex;
                width: 445px;
                justify-content: flex-start;
                flex-direction: row; 
                flex-wrap: wrap; 
                align-content: center;
                @media only screen and (max-width: $medium) { 
                    width: 100%;
                    justify-content: center;
                    margin-bottom: 30px;
                }
                li {
                    padding: 5px;
                    a {
                        display: block;
                        padding: 5px;
                        font-size: 12px;
                        border-radius: 10px;
                        border: 1px solid #D1D1D1;
                        color: #C1C1C1;
                        font-family: $font2;
                    }
                }
            }
        }

        .smartSearchContent {
            display: flex;
            width: 445px;
            flex-direction: column;
            align-items: center;
            padding-top: 35px;
            @media only screen and (max-width: $medium) { 
                width: 100%;
                padding: 0 20px;
            }
            .separationLine {
                display: block;
                width: 100%;
                text-align: center;
                position: relative;
                &::after, &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 35%;
                    height: 1px;
                    top: 8px;
                    background: #ccc;
                }
                &::after {
                    left: 0;
                }
                &::before {
                    right: 0;
                }
                p {
                    font-family: $font2;
                    font-size: 15px;
                    color: #3E3E3E;
                }
            }

            .smartSearch {
                display: block;
                width: 100%;
                text-align: center;
                @media only screen and (max-width: $medium) { 
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                h2 {
                    font-family: $font2;
                    font-size: 14px;
                    color: #3E3E3E;
                    padding: 25px 0 35px 0;
                }
                a {
                    display: block;
                    width: 100%;
                    background-color: #c90404c9;
                    color: #fff;
                    border-radius: 10px;
                    padding: 13px;
                    font-size: 13px;
                    font-family: $font2;
                    @media only screen and (max-width: $medium) { 
                        width: 445px;
                    }
                    @media only screen and (max-width: $small) { 
                        width: 100%;
                    }
                }
            }
        }
    }
    #employees {
        h2 {
            font-size: 15px;
            padding-bottom: 20px;
            font-family: $font2;
            @media only screen and (max-width: $medium) { 
                padding: 30px 0px 30px 30px;
            }
        }
        .employeesList {
            display: flex;
            justify-content: space-between; 
            flex-direction: row; 
            flex-wrap: wrap; 
            align-content: center;
            @media only screen and (max-width: $medium) { 
                display: flex;
                justify-content: space-evenly;
            }
            @media only screen and (max-width: $small) { 
                padding: 0 20px;
            }

            .employee {
                border: 1px solid #D9D9D9;
                border-radius: 10px;
                display: flex;
                padding: 20px 20px;
                background-color: #fff;
                cursor: pointer;
                width: 260px;
                position: relative;
                margin-bottom: 25px;
                @media only screen and (max-width: $small) { 
                    width: 100%;
                }
                .evaluation {
                    position: absolute;
                    bottom: 15px;
                    right: 20px;
                    font-family: $font2;
                    font-size: 11px;
                    font-weight: bold;
                }
                .favorite {
                    position: absolute;
                    top: 15px;
                    right: 18px;
                    font-size: 0;
                    display: block;
                    width: 18px;
                    height: 18px;
                    background: url('../../assets/image/favorite1.png') no-repeat;
                    background-size: 100%;
                    transition: .5s;
                    &:hover {
                        background: url('../../assets/image/favorite-select.png') no-repeat;
                        background-size: 100%;
                    }
                }
                .employeeImage {
                    padding-right: 20px;
                    display: flex;
                    justify-content: center;    
                    flex-wrap: wrap; 
                    align-content: center;
                    .image {
                        display: block;
                        width: 54px;
                        height: 54px;
                        border-radius: 54px;
                        background-color: #c3c3c3;
                    }
                }
                .employeeInfo {
                    display: flex;
                    justify-content: space-between; 
                    flex-direction: column; 
                    flex-wrap: wrap; 
                    align-content: center;
                    h3 {
                        font-size: 12px;
                        color: #000;
                        font-family: $font2;
                    }
                    ul {
                        li {
                            p {
                                color: #555555;
                                font-size: 10px;
                                font-family: $font2;
                            }
                        }
                    }
                }
            }
        }
    }
}