@import url('../../assets/style/global/_config.scss');

body {
    background: #1E1E1E;
}

#login {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh;
    .loginContent {
        width: 560px;
        .storeLogo {
            padding-bottom: 20px;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        .loginFormContent {
            background: #fff;
            border-radius: 20px;
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
            width: 100%;

            input {
                border-radius: 10px;
                border: 1px solid #AFAFAF;
                padding: 10px;
                margin: 10px 0;
            }

            label {
                font-size: 14px;
                color: #000;
            }

            button {
                border: none;
                border-radius: 10px;
                padding: 10px;
                width: 100%;
                background: #5AABB5;
                text-align: center;
                color: #fff;
                margin-top: 10px;
                cursor: pointer;
                transition: .6s;
                &:hover {
                    opacity: 0.8
                }
            }

            .serverCode {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                align-content: center;
                justify-content: center;
                width: 50%;
                padding: 30px;
                border-right: 1px solid #AFAFAF;
            }
            .loginForm {
                width: 50%;
                padding: 30px;
                .loginFormTitle {
                    text-align: center;
                    padding-bottom: 20px;
                    h2 {
                        color: #000;
                        font-size: 31px;
                        font-weight: bold;
                    }
                    p {
                        color: #858585;
                        font-size: 14px;
                    }
                }
                .loginFormInput {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                }
            }
        }
    }
}